#settings_form {
    border: 1px solid grey;
    border-radius: 15%;
    margin: 0 auto;
    margin: 5% 30% 0% 30%;
    padding: 5% 0% 5% 0%;
    background-color: #DCDCDC;
}

#settings_header {
    font-weight: bold;
    margin: 0% 0% 2.5% 0%;
    font-size: 130%;
}