.site-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.site-header, .site-footer {
	background-color: #EEEEEE;
	text-align: center;
}

.page-main, .page-login, .page-settings {
	flex: 1;
	text-align: center;
}

.page-main {
	background-color: #CCCCCC;
}

.page-login {
	background-color: #CCCCCC;
}

.page-settings {
	background-color: #CCCCCC;
}